<div class="change-dark">
    <h2 class="clientsText">Clients</h2>
<h5 class="clients-description"> We take pride in having partnered with a diverse array of esteemed clients,
     delivering innovative, high-quality solutions precisely tailored to meet their unique needs. </h5>
<h5 class="clients-description">
     At Dinoroco Studios, our deep expertise and client-centric approach ensure that each project
      is not only a success but also a driving force behind our clients' continued growth and 
      digital transformation.</h5>

<div class="our-clients__image">
    <img class="ourclients" src="/assets/clients/adesso.png" alt="adesso">
    <img class="ourclients" src="/assets/clients/atsistemas.png" alt="atsistemas">
    <img class="ourclients" src="/assets/clients/betvictor.png" alt="betvictor">
    <img class="ourclients" src="/assets/clients/blue-trail.png" alt="blue-trail">
    <img class="ourclients" src="/assets/clients/carrefour.png" alt="carrefour">
    <img class="ourclients" src="/assets/clients/cetelem.png" alt="cetelem">
    <img class="ourclients" src="/assets/clients/elitech-lab.png" alt="elitech-lab">
    <img class="ourclients" src="/assets/clients/gunka.png" alt="gunka">
    <img class="ourclients" src="/assets/clients/indra.png" alt="indra">
    <img class="ourclients" src="/assets/clients/inditex.png" alt="inditex">
    <img class="ourclients" src="/assets/clients/linearity.png" alt="linearity">
    <img class="ourclients" src="/assets/clients/nbb.png" alt="nbb">
    <img class="ourclients" src="/assets/clients/plexus-tech.png" alt="plexus-tech">
    <img class="ourclients" src="/assets/clients/repsol.png" alt="repsol">
    <img class="ourclients" src="/assets/clients/santander.png" alt="santander">
    <img class="ourclients" src="/assets/clients/trip2balance.png" alt="trip2balance">
    <img class="ourclients" src="/assets/clients/whascine.png" alt="whascine">
    <img class="ourclients" src="/assets/clients/willian-hill.png" alt="willian-hill">
</div>

</div>