$dark-100: $dark;
$dark-300: #2c3032;
$dark-600: #242526;
$dark-900: #17191a;

[data-theme="dark"] {
  body {
    background-color: $dark-900;
    color: $text-white;
  }

.ourclients:nth-child(1){
  filter: invert(1);
}
  .ourclients:nth-child(2){
    filter: invert(1);
}
.ourclients:nth-child(3){
    filter: invert(1);
}
.ourclients:nth-child(4){
  filter: invert(1);
  filter: grayscale(100%);
}
.ourclients:nth-child(5){
    filter: invert(1);
}
.ourclients:nth-child(6){
  filter: invert(1);
}
.ourclients:nth-child(7){
    filter: invert(1);
}
.ourclients:nth-child(8){
    filter: invert(1);
}
.ourclients:nth-child(9){
    filter: invert(1);
}
.ourclients:nth-child(10){
  filter: invert(1);
}
.ourclients:nth-child(11){
  filter: invert(1);
}
.ourclients:nth-child(12){
    filter: invert(1);
}
.ourclients:nth-child(13){
    filter: invert(1);
}
.ourclients:nth-child(14){
  filter: invert(1);
}
.ourclients:nth-child(15){
  filter: invert(1);
}
.ourclients:nth-child(16){
  filter: invert(1);
}
.ourclients:nth-child(18){
  filter: invert(1);
}
  // Code blocks & Syntax highlighting

  @import "native.scss";

  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $dark-900;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }

  // Cards
  .card {
    background-color: $dark-600;
  }

  .card.border {
    .card-footer {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark;
    }
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $text-white;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  // Post
  .post footer {
    text-decoration: none;
  }

  // Timeline 
  .timeline-body .timeline-item:after{
    background-color: $dark-900;
  }
}
