---
---
@import "portfolYOU";

@media screen and (max-width: 48em) {
    .our-clients__image{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 30px; /* Adjust as needed */
    }
    .clients-description{
        font-size: 0.7em;
    }
}

@media (min-width: 48em) and (max-width: 64.2em) {
    .our-clients__image{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 30px; /* Adjust as needed */
    }
}

.our-clients__image{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px; /* Adjust as needed */
}

.ourclients{
    max-width: 100px; /* Adjust this size based on your requirement */
    height: auto;
    margin: auto; /* Centers the logos horizontally */
}

.clientsText{
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.ourclients:nth-child(2){
    margin-top: 20px !important;
}
.ourclients:nth-child(3){
    margin-top: -10px !important;
    filter: contrast(0.4);
}
.ourclients:nth-child(5){
    margin-top: 25px !important;
}
.ourclients:nth-child(7){
    margin-top: 5px !important;
}
.ourclients:nth-child(8){
    margin-top: 8px !important;
}
.ourclients:nth-child(9){
    margin-top: -5px !important;
}
.ourclients:nth-child(12){
    margin-top: 20px !important;
}
.ourclients:nth-child(13){
    margin-top: 50px !important;
}
.clients-description{
    text-align: center;
    font-size: 1em;
    color: #838B91;
}
.our-clients__image{
    margin: 90px 0px 50px 0px;
}